﻿@model IEnumerable<DiscosFer.Models.Puntuacion>

@{
    ViewBag.Title = "GetPuntuaciones";
}

<h2>GetPuntuaciones</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Idcliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iddisco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PuntuacionVal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Idcliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disco.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PuntuacionVal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
