﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url('@Url.Content("~/Content/Images/fiesta_discopeque.jpg")');">
    <h1>DiscoFer</h1>
    <p class="lead">Ford Fairlane Records</p>
    <p><a href="@Url.Action("Index", "Admin")" class="btn btn-primary btn-lg">Admin</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Discos</h2>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "Discos")">
                <img src="~/Content/Images/multimedia.png" alt="Discos" width="128" height="128" />
                Ir a discos&raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Intérpretes</h2>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "Interpretes")">
                <img src="~/Content/Images/music.png" alt="Int&eacute;rpretes" width="128" height="128" />
                Ir a int&eacute;rpretes &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p>
            <a class="btn btn-default" href="@Url.Action("Login", "Login")">
                <img src="~/Content/Images/login.png" alt="Registro" width="128" height="128" />
                Ir a identificaci&oacute;n &raquo;
            </a>
        <p>
            @Html.ActionLink("Acerca de...", "About", null, new { @class = "btn btn-primary" })
        </p>
        </p>
    </div>
</div>